<div id="nominations" class="span12">
    <h4><%= @title %></h4>
    <div class="for-alert"></div>
    <div class="container">
        <%= render :partial => "nominations", :locals => { :nominations => @nominations } %>
    </div>
    <h5><%= t('shared.nominations.adding.title') %></h5>
    <%= form_for [ :dashboard, @nomination ], :remote => true, :html => { :class => "form-inline" } do |f| %>
        <%= f.text_field :name, :placeholder => t('shared.nominations.common.name') %>
        <%= f.text_field :desc, :placeholder => t('shared.nominations.common.desc') %>
        <%= f.submit t('shared.nominations.adding.add'),  { :class => "btn-primary btn" } %>
    <% end %> 
</div>
