<div class="vote-container">
    <div class="text-right">
        <%= l vote.created_at, :format => :short_date %> | 
        <%= link_to t("shared.dashboard.common.destroy_link_html"), [ vote ], :method => :delete %>
    </div>
    <blockquote>
        <% if !vote.voter_fio.blank? || !vote.voter_phone.blank? || !vote.comment.blank? %>
            <p><%= raw vote.comment.gsub(/(\r\n)/, '</p><p>') %></p>
            <% if !vote.voter_fio.blank? || !vote.voter_phone.blank? %>
                <small>
                    <% if !vote.voter_fio.blank? %>
                        <strong><%= vote.voter_fio %></strong>
                        <% if !vote.voter_phone.blank? %>
                            , <%= vote.voter_phone %>
                        <% end %>
                    <% else %>
                        <% if !vote.voter_phone.blank? %>
                            <%= t("shared.common.votes.voter_phone_only") %>: <%= vote.voter_phone %>
                        <% end %>
                    <% end %>
                </small>
            <% end %>
        <% else %>
            <p class="notext"><%= t("shared.common.candidates.none_in_form") %></p>
        <% end %>
    </blockquote>
</div>
