<h3><%= @title %></h3>
<%= form_for [ :dashboard, @user ] do |f| %>
    <div class="control-group">
        <%= label_tag t("shared.users.common.email") %>
        <%= f.text_field :email %>
    </div>

    <div class="control-group">
        <%= label_tag t("shared.users.common.password") %>
        <%= f.password_field :password %>
    </div>

    <div class="controls">
        <%= f.submit t("shared.users.adding.add"), { :class => "btn-primary btn" } %>
    </div>
<% end %>
