<%= render "dashboard/shared/org_tabs" %>
<div id="areas" class="tab-panel">
    <ul class="unstyled">
        <% @areas.each do |area| %>
            <li><%= area.name %></li>
        <% end %>
    </ul>
</div>
<h5><%= t('shared.areas.adding.title') %></h5>
<%= form_for [ :dashboard, @area ], :remote => true, :html => { :class => "form-inline" } do |f| %>
    <%= f.text_field :name, :placeholder => t('shared.areas.common.name') %>
    <%= f.submit t('shared.areas.adding.add'),  { :class => "btn-primary btn" } %>
<% end %>
