<%= render "dashboard/shared/main_tabs" %>
<div id="main" class="span12 tab-panel">
    <div class="text-right actions">
        <%= link_to t('shared.dashboard.common.top', :text => @top_text), { :controller => "pages", :action => "home", :top => @top } %> | 
        <%= link_to t("shared.dashboard.common.excel_export"), { :controller => "pages", :action => "home", :format => :xls } %>
    </div>
    <ul class="unstyled nominations">
        <li class="nomination">
            <% @nominations.each do |nomination| %>
                <% if !nomination.candidates.blank? %>
                    <h4 class="n-name"><%= nomination.name %></h4>
                    <span class="grey small"><%= t('shared.dashboard.results.all') %><%= nomination.candidates.get_current_year_voted.count %></span>
                    <table width="90%">
                        <tbody>
                            <% nomination.top_candidates(@top_now).each do |candidate| %>
                                <tr>
                                    <td align="right" width="40%" style="padding-right: 5px;" ><%= link_to "#{candidate.fam_name} #{candidate.first_name} #{candidate.sec_name}", dashboard_candidate_path(candidate) %></td>
                                    <td width="40%">
                                        <div class="progress">
                                            <div class="bar" style="width: 
                                                <% if candidate.votes_count_this_year != 0 %><%= nomination.top_candidates(@top_now)[0].votes_count_this_year.to_i/candidate.votes_count_this_year.to_i*100 %><% else %>0<% end %>%;"></div>
                                        </div>
                                    </td>
                                    <td valign="middle" style="padding-left: 5px;"><%= candidate.votes_count_this_year %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <span class="under"></span>
                <% end %>
            <% end %>
        </li>
    </ul>
</div>
<div id="comment"></div>
