<%= render "dashboard/shared/org_tabs" %>
<div id="orgs" class="tab-panel">
    <table class="admin-table">
        <tbody>
            <% @areas.each do |area| %>
                <tr>
                    <th colspan="2"><%= area.name %></th>
                </tr>
                <tr>
                    <td colspan="2" class="area-<%= area.id %>">
                        <% if area.orgs.blank? %>
                            <tr><td rowspan="2" class="text-center none"><%= t("shared.orgs.common.none") %></td></tr>
                        <% else %>
                            <table class="sub-table">
                                <tbody>
                                    <% area.orgs.order("id").each do |org| %>
                                        <tr class="org-<%= org.id %>">
                                            <td>
                                                <%= org.name %>
                                            </td>
                                            <td class="actions">
                                                <button class="edit-org" value="<%= org.id %>"><%= t("shared.dashboard.common.edit_link") %></button>
                                                <%#= link_to t("shared.dashboard.common.destroy_link_html"), [ :dashboard, nomination ], :method => :delete, :remote => true, :class => "destroy-org" %>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<h5><%= t('shared.orgs.adding.title') %></h5>
<%= form_for [ :dashboard, @org ], :remote => true, :html => { :class => "form-inline" } do |f| %>
    <%= f.text_field :name, :placeholder => t('shared.orgs.common.name') %>
    <%= f.collection_select :area_id, Area.order("id").all, :id, :name, { :prompt => "#{t('shared.areas.common.name')}"  }, { :include_blank => true, :class => "choise" } %>
    <%= f.submit t('shared.orgs.adding.add'),  { :class => "btn-primary btn" } %>
<% end %>
