<ul class="nav nav-pills nav-stacked">
    <li><%= link_to t('shared.dashboard.menu.nominations'), dashboard_home_path %></li>
    <li><%= link_to t('shared.dashboard.menu.organizations'), dashboard_orgs_path %></li>
    <li><%= link_to t('shared.dashboard.menu.candidates'), dashboard_home_path %></li>
    <li><%= link_to t('shared.dashboard.menu.filled_forms'), dashboard_home_path %></li>
    <li><%= link_to t('shared.dashboard.menu.users'), dashboard_home_path %></li>
</ul>
