<%= form_for(@vote, :url => candidate_votes_path(@candidate)) do |f| %>
    <% if !@vote.errors.blank? %>
        <ul>
            <% @vote.errors.full_messages.each do |msg| %>
                <li><%= raw msg %></li>
            <% end %>
        </ul>
    <% end %>

    <div class="control-group">
        <%= label_tag t("shared.common.candidates.fam_name") %>
        <%= f.text_field :fam_name, :value => @candidate.fam_name %>
    </div>

    <div class="control-group">
        <%= label_tag t("shared.common.candidates.first_name") %>
        <%= f.text_field :first_name, :value => @candidate.first_name %>
    </div>

    <div class="control-group">
        <%= label_tag t("shared.common.candidates.sec_name") %>
        <%= f.text_field :sec_name, :value => @candidate.sec_name %>
    </div>

    <div class="control-group">
        <%= label_tag t("shared.common.candidates.nomination_id") %>
        <% @vote.nomination_id = @candidate.nomination_id %>
        <%= f.collection_select(:nomination_id, Nomination.order("name").all, :id, :name) %>
    </div>

    <hr />

    <div class="control-group">
        <%= label_tag t("shared.common.candidates.org_id") %>
        <% if @candidate.org_id.blank? %>
            <%= f.grouped_collection_select(:org_id, Area.order("id").all, sorted_orgs, :name, :id, :name, { :include_blank => true }) %>
        <% else %>
            <% @vote.org_id = @candidate.org_id %>
            <%= f.grouped_collection_select(:org_id, Area.order("id").all, sorted_orgs, :name, :id, :name) %>
        <% end %>
    </div>

    <div class="control-group">
        <%= label_tag t("shared.common.candidates.unit_id") %>
        <% if @candidate.unit_id.blank? %>
            <%= f.grouped_collection_select(:unit_id, Org.order("area_id").all, :units, :name, :id, :name, { :include_blank => true }) %>
        <% else %>
            <% @vote.unit_id = @candidate.unit_id %>
            <%= f.grouped_collection_select(:unit_id, Org.order("area_id").all, :units, :name, :id, :name) %>
        <% end %>
    </div>

    <div class="control-group">
        <%= label_tag t("shared.common.candidates.depart") %>
        <%= f.text_field :depart, :value => @candidate.depart %>
    </div>

    <div class="control-group">
        <%= label_tag t("shared.common.candidates.ward") %>
        <%= f.text_field :ward, :value => @candidate.ward %>
    </div>

    <hr />

    <div class="control-group">
        <%= label_tag t("shared.common.votes.comment") %>
        <%= f.text_area :comment, :rows => 10, :cols => 40 %>
    </div>

    <hr />

    <div class="control-group">
        <%= label_tag t("shared.common.votes.voter_fio") %>
        <%= f.text_field :voter_fio %>
    </div>

    <div class="control-group">
        <%= label_tag t("shared.common.votes.voter_phone") %>
        <%= f.text_field :voter_phone %>
    </div>

    <div class="control-group buttons-group" %>
        <%= f.submit t("shared.common.send"), { :class => "btn-primary btn new-vote-button" } %>
        <%= submit_tag t("shared.common.cancel"), { :name => "cancel_button", :class => "btn new-vote-button" } %>
    </div>
<% end %>
